.container-principal{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    color: #c26e00;
}

.container-maps{
    margin-bottom: 50px;
    height: 500px;
    border-radius: 600px;
    text-align: center;
}

.container-usuario{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #2c3547ee ;
    border-radius: 10px;
    max-width: 450px;
}

.container-conteudo-contato{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #2c3547ee ;
    border-radius: 10px;
    max-width: 300px;
}

.container-produtos{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #2c3547ee ;
    border-radius: 10px;
}

.container-contato{
    padding: 8px;
    background-color: #191c25;
    color: white;
}

.contato-titulo{
    color: #bb7900;
    font-weight: bold;
    width: 100%;
}

.contato-dado{
    width: 100%;
}

footer{
    background-color: #b66700d7;
    text-align: center;
    padding: 5px;
}

.div-titulo{
    background-color: #ffffff;
    color: #c0870bd7;
    margin: 2px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.btn-controle{
    width: 49%;
    color: #ffffff;
}

img{
    margin: 10px;
    width: 300px;
    height: 185px;
}

.card{
    margin: 10px;
}

@media screen and (max-width: 1200px){
    img{
        margin: 150px;
        width:90px;
    }
}

@media screen and (max-width: 772px){
    img{
        margin: 120px;
        width:80px;
    }
}
img{
    margin: 10px;
    width: 80%;
}

.card{
    margin: 10px;
    text-align: center;
}


